[package]
name = "ateam"
version = "0.2.0"
authors = ["Andrea Frigido"]
license = "MIT"
description = "The tool that helps optimize the code review process."
documentation = "https://github.com/frisoft/ateam"
homepage = "https://github.com/frisoft/ateam"
repository = "https://github.com/frisoft/ateam"
readme = "README.md"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
failure = "^0.1"
graphql_client = "^0.9"
serde = "^1.0"
reqwest = "^0.9"
prettytable-rs = "^0.7"
structopt = "^0.3"
dotenv = "^0.15"
envy = "^0.4"
log = "^0.4"
env_logger = "^0.7"
chrono = "0.4"
regex = "1.4.2"
